*.html linguist-vendored=true# Força o GitHub a mapear corretamente cada extensão do projeto
*.py linguist-language=Python
*.html linguist-language=HTML
*.js linguist-language=JavaScript
*.css linguist-language=CSS